/Test.class
/TestArchitecte.class
/TestAssassin.class
/TestCondottiere.class
/TestEveque.class
/TestInteraction.class
/TestJoueur.class
/TestMagicienne.class
/TestMarchande.class
/TestPioche.class
/TestPlateauDeJeu.class
/TestQuartier.class
/TestRoi.class
/TestVoleur.class
/testConfiguration.class
