/Architecte.class
/Assassin.class
/Caracteristiques.class
/Condottiere.class
/Eveque.class
/Joueur.class
/Magicienne.class
/Marchande.class
/Personnage.class
/Pioche.class
/PlateauDeJeu.class
/Quartier.class
/Roi.class
/Voleur.class
